/* line color square with rounded corners*/
.lineColor p {
    border-radius: 3px;
    padding: 3px;
    padding-top: 0px;
    padding-bottom: 7px;
    margin: 5px;
    width: 15px;
    height: 15px;
    color: white;
    text-align:center;
    font-size: 9pt;
}

